.pareja1{
    color: aqua;
    background-color: blue; 

}
.pareja2{
    color: aqua;
    background-color: blue; 

}
.pareja3{
    color: aqua;
    background-color: blue; 

}
.pareja4{
    color: aqua;
    background-color: blue; 

}
.pareja5{
    color: aqua;
    background-color: blue; 

}